<div ng-controller="MainController as main">
    <h1>At The Movies!</h1>

    <div class="alert alert-danger" ng-show="main.error">{{ main.error }}</div>

    <input type="text" placeholder="Search ..." ng-model="main.searchTerm" class="form-control" style="width: 300px;" />
    <br>
    <select ng-model="main.orderTerm" ng-options="o.option as o.name for o in main.orderOptions" class="form-control" style="width: 300px;"></select>
    <br>

    <table class="table" ng-hide="main.error">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="movie in main.movies | filter:{title:main.searchTerm} | orderBy:main.orderTerm">
            <td><a ng-href="#/details/{{ movie.id }}">{{ movie.title }}</a></td>
            <td>{{ movie.year }}</td>
            <td ng-class="main.rateMovie(movie)">{{ movie.rating | stars }}</td>
            <td>
                <a href="#/edit/{{ movie.id }}" class="btn btn-default">Edit</a>
                <button  class="btn btn-default" ng-click="main.gotoMovie($index)">Details</button>
            </td>
        </tr>
    </table>
</div>
