body {
    background-color: #FFFFFF;
}


.ng-cloak {
    display: none;
}

.good  {
    color: green;
    font-weight: bold;
}

.bad {
    color: red;
    font-weight: bold;
}

a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

input.ng-invalid {
  border: 1px solid red;
}
